<section id="statement">
	<div class="container text-center wow fadeInUp" data-wow-delay="0.5s"
		 style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">
		<p>✎﹏ 若如初相见，若如初相恋 ღ</p>
	</div>
</section>
<!-- ============================ Footer =========================== -->
<footer>
	<div class="container">
		<div class="copy">
			<p>©
				<script>new Date().getFullYear() > 2010 && document.write("" + new Date().getFullYear());</script>
				- 2018, Content By Zteng. All Rights Reserved.
			</p>
			<p>Theme By <a href="/" style="color: #767D84">Zteng</a></p>
		</div>
		<div class="social">
			<ul>
				<li><a href="/" title="Sina-Weibo" target="_blank"><i
						class="icon-sina-weibo"></i></a>&nbsp;
				</li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</footer>